In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("../files/input/solicitudes_de_credito.csv", sep=";")

In [49]:
df = df.drop(columns=['Unnamed: 0'])

In [50]:
df.head()

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,fabrica de,prado,3,10.0,13/07/2018,5000000,microempresarial
1,femenino,servicio,recreativo-educativo,barrio caicedo,1,9.0,30/10/2017,6000000,microempresarial
2,femenino,comercio,tienda,aranjuez,2,4.0,3/08/2017,7300000,microempresarial
3,Masculino,comercio,variedades,cabecera san cristobal,3,60.0,20/11/2017,7000000,microempresarial
4,femenino,comercio,fabrica de,robledo,2,7.0,23/02/2017,5000000,microempresarial

In [51]:
def limpiar_texto(cadena):
    if isinstance(cadena, str):
        cadena = cadena.lower()           # a minúsculas
        cadena = cadena.strip()
        cadena = cadena.replace(' ', '_')  # quitar espacios
        cadena = cadena.replace('-', '_') # reemplazar '-' por '_'
    return cadena

df_limpio = df.applymap(limpiar_texto)

C:\Users\AMD\AppData\Local\Temp\ipykernel_21604\3283808155.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_limpio = df.applymap(limpiar_texto)

In [52]:
df_limpio.head(24)

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,fabrica_de,prado,3,10.0,13/07/2018,5000000,microempresarial
1,femenino,servicio,recreativo_educativo,barrio_caicedo,1,9.0,30/10/2017,6000000,microempresarial
2,femenino,comercio,tienda,aranjuez,2,4.0,3/08/2017,7300000,microempresarial
3,masculino,comercio,variedades,cabecera_san_cristobal,3,60.0,20/11/2017,7000000,microempresarial
4,femenino,comercio,fabrica_de,robledo,2,7.0,23/02/2017,5000000,microempresarial
5,femenino,comercio,variedades,picachito,1,6.0,2017/05/31,7000000,microempresarial
6,femenino,industria,fabrica_de,guayabal,3,15.0,20/02/2016,"$_2,000,000.00",microempresarial
7,femenino,comercio,tienda,carpinelo,1,1.0,14/02/2017,3300000,microempresarial
8,masculino,comercio,variedades,belalcazar,2,5.0,7/05/2018,7800000,microempresarial
9,femenino,comercio,variedades,manrique_central_no._1,1,4.0,2018/05/3,7800000,microempresarial
10,femenino,industria,fabrica_de,manrique_central_no._2,2,3.0,28/02/2017,4500000,microempresarial
11,masculino,agropecuaria,sembrados,santa_elena_central,2,90.0,23/12/2016,13000000,agropecuaria
12,femenino,comercio,comidas_rapidas,andalucia,2,2.0,12/04/2018,7800000,microempresarial
13,masculino,industria,fabrica_de,san_javier_no.1,1,13.0,23/08/2018,4000000,microempresarial
14,masculino,servicio,variedades,belencito,2,13.0,30/07/2018,7800000,microempresarial
15,masculino,comercio,miscelanea,centro_admtivo,3,10.0,14/02/2018,1000000,microempresarial
16,femenino,comercio,variedades,cabecera_san_antonio,2,80.0,16/11/2017,7000000,microempresarial
17,femenino,servicio,cafe_e_internet,manrique_central_no._1,3,4.0,29/04/2019,8000000,microempresarial
18,masculino,comercio,tienda,villa_hermosa,3,8.0,27/06/2018,5000000,microempresarial
19,femenino,comercio,venta_de_calzado,playon_de_los,2,2.0,27/02/2017,7000000,microempresarial
20,femenino,comercio,productos_de_belleza,buenos_aires,3,9.0,24/07/2017,7300000,microempresarial
21,masculino,comercio,tienda,manrique_central_no._1,2,4.0,14/09/2018,6000000,microempresarial
22,femenino,comercio,tienda,popular,2,1.0,11/10/2018,6000000,microempresarial
23,femenino,comercio,almacen_de_ropa_en,robledo,2,7.0,15/02/2018,6000000,microempresarial

In [53]:
from datetime import datetime

def parsear_fecha(fecha_str):
    for formato in ("%d/%m/%Y", "%Y/%m/%d"):
        try:
            return datetime.strptime(fecha_str, formato)
        except ValueError:
            continue
    return pd.NaT  # si no pudo interpretar el formato

df_limpio['fecha_de_beneficio'] = df_limpio['fecha_de_beneficio'].apply(parsear_fecha)

In [54]:
df_limpio.head(30)

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,fabrica_de,prado,3,10.0,2018-07-13,5000000,microempresarial
1,femenino,servicio,recreativo_educativo,barrio_caicedo,1,9.0,2017-10-30,6000000,microempresarial
2,femenino,comercio,tienda,aranjuez,2,4.0,2017-08-03,7300000,microempresarial
3,masculino,comercio,variedades,cabecera_san_cristobal,3,60.0,2017-11-20,7000000,microempresarial
4,femenino,comercio,fabrica_de,robledo,2,7.0,2017-02-23,5000000,microempresarial
5,femenino,comercio,variedades,picachito,1,6.0,2017-05-31,7000000,microempresarial
6,femenino,industria,fabrica_de,guayabal,3,15.0,2016-02-20,"$_2,000,000.00",microempresarial
7,femenino,comercio,tienda,carpinelo,1,1.0,2017-02-14,3300000,microempresarial
8,masculino,comercio,variedades,belalcazar,2,5.0,2018-05-07,7800000,microempresarial
9,femenino,comercio,variedades,manrique_central_no._1,1,4.0,2018-05-03,7800000,microempresarial
10,femenino,industria,fabrica_de,manrique_central_no._2,2,3.0,2017-02-28,4500000,microempresarial
11,masculino,agropecuaria,sembrados,santa_elena_central,2,90.0,2016-12-23,13000000,agropecuaria
12,femenino,comercio,comidas_rapidas,andalucia,2,2.0,2018-04-12,7800000,microempresarial
13,masculino,industria,fabrica_de,san_javier_no.1,1,13.0,2018-08-23,4000000,microempresarial
14,masculino,servicio,variedades,belencito,2,13.0,2018-07-30,7800000,microempresarial
15,masculino,comercio,miscelanea,centro_admtivo,3,10.0,2018-02-14,1000000,microempresarial
16,femenino,comercio,variedades,cabecera_san_antonio,2,80.0,2017-11-16,7000000,microempresarial
17,femenino,servicio,cafe_e_internet,manrique_central_no._1,3,4.0,2019-04-29,8000000,microempresarial
18,masculino,comercio,tienda,villa_hermosa,3,8.0,2018-06-27,5000000,microempresarial
19,femenino,comercio,venta_de_calzado,playon_de_los,2,2.0,2017-02-27,7000000,microempresarial
20,femenino,comercio,productos_de_belleza,buenos_aires,3,9.0,2017-07-24,7300000,microempresarial
21,masculino,comercio,tienda,manrique_central_no._1,2,4.0,2018-09-14,6000000,microempresarial
22,femenino,comercio,tienda,popular,2,1.0,2018-10-11,6000000,microempresarial
23,femenino,comercio,almacen_de_ropa_en,robledo,2,7.0,2018-02-15,6000000,microempresarial
24,femenino,comercio,variedades,tricentenario,3,5.0,2017-11-20,4000000,microempresarial
25,masculino,servicio,barberia,calasanz,2,12.0,2017-09-26,7377000,microempresarial
26,masculino,industria,fabrica_de,aranjuez,3,4.0,2016-10-24,"$_6,500,000.00",microempresarial
27,femenino,comercio,comidas_rapidas,buenos_aires,2,9.0,2019-06-28,1500000,microempresarial
28,masculino,comercio,variedades,andalucia,2,2.0,2018-08-17,7800000,microempresarial
29,femenino,servicio,peluqueria,pedregal,3,6.0,2017-10-27,7300000,microempresarial

In [55]:
df_limpio['monto_del_credito'] = df_limpio['monto_del_credito'].astype(str).str.replace(r'[\$,._\s]', '', regex=True)
df_limpio['monto_del_credito'] = pd.to_numeric(df_limpio['monto_del_credito'], errors='coerce')

In [56]:
df_limpio.head(25)

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,fabrica_de,prado,3,10.0,2018-07-13,5000000,microempresarial
1,femenino,servicio,recreativo_educativo,barrio_caicedo,1,9.0,2017-10-30,6000000,microempresarial
2,femenino,comercio,tienda,aranjuez,2,4.0,2017-08-03,7300000,microempresarial
3,masculino,comercio,variedades,cabecera_san_cristobal,3,60.0,2017-11-20,7000000,microempresarial
4,femenino,comercio,fabrica_de,robledo,2,7.0,2017-02-23,5000000,microempresarial
5,femenino,comercio,variedades,picachito,1,6.0,2017-05-31,7000000,microempresarial
6,femenino,industria,fabrica_de,guayabal,3,15.0,2016-02-20,200000000,microempresarial
7,femenino,comercio,tienda,carpinelo,1,1.0,2017-02-14,3300000,microempresarial
8,masculino,comercio,variedades,belalcazar,2,5.0,2018-05-07,7800000,microempresarial
9,femenino,comercio,variedades,manrique_central_no._1,1,4.0,2018-05-03,7800000,microempresarial
10,femenino,industria,fabrica_de,manrique_central_no._2,2,3.0,2017-02-28,4500000,microempresarial
11,masculino,agropecuaria,sembrados,santa_elena_central,2,90.0,2016-12-23,13000000,agropecuaria
12,femenino,comercio,comidas_rapidas,andalucia,2,2.0,2018-04-12,7800000,microempresarial
13,masculino,industria,fabrica_de,san_javier_no.1,1,13.0,2018-08-23,4000000,microempresarial
14,masculino,servicio,variedades,belencito,2,13.0,2018-07-30,7800000,microempresarial
15,masculino,comercio,miscelanea,centro_admtivo,3,10.0,2018-02-14,1000000,microempresarial
16,femenino,comercio,variedades,cabecera_san_antonio,2,80.0,2017-11-16,7000000,microempresarial
17,femenino,servicio,cafe_e_internet,manrique_central_no._1,3,4.0,2019-04-29,8000000,microempresarial
18,masculino,comercio,tienda,villa_hermosa,3,8.0,2018-06-27,5000000,microempresarial
19,femenino,comercio,venta_de_calzado,playon_de_los,2,2.0,2017-02-27,7000000,microempresarial
20,femenino,comercio,productos_de_belleza,buenos_aires,3,9.0,2017-07-24,7300000,microempresarial
21,masculino,comercio,tienda,manrique_central_no._1,2,4.0,2018-09-14,6000000,microempresarial
22,femenino,comercio,tienda,popular,2,1.0,2018-10-11,6000000,microempresarial
23,femenino,comercio,almacen_de_ropa_en,robledo,2,7.0,2018-02-15,6000000,microempresarial
24,femenino,comercio,variedades,tricentenario,3,5.0,2017-11-20,4000000,microempresarial

In [62]:
df_limpio['comuna_ciudadano'] = pd.to_numeric(df_limpio['comuna_ciudadano'], errors='coerce')

In [65]:
df_limpio.head(25)

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,fabrica_de,prado,3,10.0,2018-07-13,5000000,microempresarial
1,femenino,servicio,recreativo_educativo,barrio_caicedo,1,9.0,2017-10-30,6000000,microempresarial
2,femenino,comercio,tienda,aranjuez,2,4.0,2017-08-03,7300000,microempresarial
3,masculino,comercio,variedades,cabecera_san_cristobal,3,60.0,2017-11-20,7000000,microempresarial
4,femenino,comercio,fabrica_de,robledo,2,7.0,2017-02-23,5000000,microempresarial
5,femenino,comercio,variedades,picachito,1,6.0,2017-05-31,7000000,microempresarial
6,femenino,industria,fabrica_de,guayabal,3,15.0,2016-02-20,200000000,microempresarial
7,femenino,comercio,tienda,carpinelo,1,1.0,2017-02-14,3300000,microempresarial
8,masculino,comercio,variedades,belalcazar,2,5.0,2018-05-07,7800000,microempresarial
9,femenino,comercio,variedades,manrique_central_no._1,1,4.0,2018-05-03,7800000,microempresarial
10,femenino,industria,fabrica_de,manrique_central_no._2,2,3.0,2017-02-28,4500000,microempresarial
11,masculino,agropecuaria,sembrados,santa_elena_central,2,90.0,2016-12-23,13000000,agropecuaria
12,femenino,comercio,comidas_rapidas,andalucia,2,2.0,2018-04-12,7800000,microempresarial
13,masculino,industria,fabrica_de,san_javier_no.1,1,13.0,2018-08-23,4000000,microempresarial
14,masculino,servicio,variedades,belencito,2,13.0,2018-07-30,7800000,microempresarial
15,masculino,comercio,miscelanea,centro_admtivo,3,10.0,2018-02-14,1000000,microempresarial
16,femenino,comercio,variedades,cabecera_san_antonio,2,80.0,2017-11-16,7000000,microempresarial
17,femenino,servicio,cafe_e_internet,manrique_central_no._1,3,4.0,2019-04-29,8000000,microempresarial
18,masculino,comercio,tienda,villa_hermosa,3,8.0,2018-06-27,5000000,microempresarial
19,femenino,comercio,venta_de_calzado,playon_de_los,2,2.0,2017-02-27,7000000,microempresarial
20,femenino,comercio,productos_de_belleza,buenos_aires,3,9.0,2017-07-24,7300000,microempresarial
21,masculino,comercio,tienda,manrique_central_no._1,2,4.0,2018-09-14,6000000,microempresarial
22,femenino,comercio,tienda,popular,2,1.0,2018-10-11,6000000,microempresarial
23,femenino,comercio,almacen_de_ropa_en,robledo,2,7.0,2018-02-15,6000000,microempresarial
24,femenino,comercio,variedades,tricentenario,3,5.0,2017-11-20,4000000,microempresarial

In [66]:
df_limpio.shape

(10920, 9)

In [67]:
df_sin_duplicados = df_limpio.drop_duplicates()
df_sin_duplicados.shape

(10468, 9)

In [68]:
df_sin_duplicados.head(25)

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,fabrica_de,prado,3,10.0,2018-07-13,5000000,microempresarial
1,femenino,servicio,recreativo_educativo,barrio_caicedo,1,9.0,2017-10-30,6000000,microempresarial
2,femenino,comercio,tienda,aranjuez,2,4.0,2017-08-03,7300000,microempresarial
3,masculino,comercio,variedades,cabecera_san_cristobal,3,60.0,2017-11-20,7000000,microempresarial
4,femenino,comercio,fabrica_de,robledo,2,7.0,2017-02-23,5000000,microempresarial
5,femenino,comercio,variedades,picachito,1,6.0,2017-05-31,7000000,microempresarial
6,femenino,industria,fabrica_de,guayabal,3,15.0,2016-02-20,200000000,microempresarial
7,femenino,comercio,tienda,carpinelo,1,1.0,2017-02-14,3300000,microempresarial
8,masculino,comercio,variedades,belalcazar,2,5.0,2018-05-07,7800000,microempresarial
9,femenino,comercio,variedades,manrique_central_no._1,1,4.0,2018-05-03,7800000,microempresarial
10,femenino,industria,fabrica_de,manrique_central_no._2,2,3.0,2017-02-28,4500000,microempresarial
11,masculino,agropecuaria,sembrados,santa_elena_central,2,90.0,2016-12-23,13000000,agropecuaria
12,femenino,comercio,comidas_rapidas,andalucia,2,2.0,2018-04-12,7800000,microempresarial
13,masculino,industria,fabrica_de,san_javier_no.1,1,13.0,2018-08-23,4000000,microempresarial
14,masculino,servicio,variedades,belencito,2,13.0,2018-07-30,7800000,microempresarial
15,masculino,comercio,miscelanea,centro_admtivo,3,10.0,2018-02-14,1000000,microempresarial
16,femenino,comercio,variedades,cabecera_san_antonio,2,80.0,2017-11-16,7000000,microempresarial
17,femenino,servicio,cafe_e_internet,manrique_central_no._1,3,4.0,2019-04-29,8000000,microempresarial
18,masculino,comercio,tienda,villa_hermosa,3,8.0,2018-06-27,5000000,microempresarial
19,femenino,comercio,venta_de_calzado,playon_de_los,2,2.0,2017-02-27,7000000,microempresarial
20,femenino,comercio,productos_de_belleza,buenos_aires,3,9.0,2017-07-24,7300000,microempresarial
21,masculino,comercio,tienda,manrique_central_no._1,2,4.0,2018-09-14,6000000,microempresarial
22,femenino,comercio,tienda,popular,2,1.0,2018-10-11,6000000,microempresarial
23,femenino,comercio,almacen_de_ropa_en,robledo,2,7.0,2018-02-15,6000000,microempresarial
24,femenino,comercio,variedades,tricentenario,3,5.0,2017-11-20,4000000,microempresarial

In [69]:
(df_sin_duplicados == 'nan').sum()

sexo                      0
tipo_de_emprendimiento    0
idea_negocio              0
barrio                    0
estrato                   0
comuna_ciudadano          0
fecha_de_beneficio        0
monto_del_credito         0
línea_credito             0
dtype: int64

In [71]:
df_sin_duplicados = df_sin_duplicados.dropna()

In [72]:
df_sin_duplicados.to_csv("../files/output/solicitudes_de_credito.csv", index=False, sep=';')